<%- include('header') %>



<h1 style="font-weight: 100;">Enter State/City:</h1>


<form class="pure-form">
    <input type="text" name="State" placeholder="State">
    <input type="Submit" class="pure-button pure-button-primary" value="Go">
</form>

<div> 
    <h3 name="name" style="font-weight: 500;"></h3>
    <h4 name="temp"></h4>
    <h4 name="humidity"></h4>
    <h4 name="pressure"></h4>
    <h4 name="desc"></h4>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/main.js" type="text/javascript"></script>
<!% include('footer') %>